.cxx
.DS_Store
.externalNativeBuild
.gradle
*.iml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
libs
